<!-- Loop through the posts in the database and create a new item for every post -->
<!-- Include the image, location, author and travel experience -->
<!-- If there is no photo saved then display the default picture -->
<% postsArray.forEach(function(post) { %>
<div class="item">
  <div class="ui medium image">
    <%if (post.imageURL) { %>
    <img src="<%=post.imageURL%>" alt="Travel image" />
    <% }%> <%if (!post.imageURL) { %>
    <img src="/assets/default.png" alt="Travel image" />
    <% }%>
  </div>
  <div class="content">
    <h3 class="ui header"><%= post.location %></h3>
    <div class="ui right floated item">
      <img class="ui avatar image" src=<%= post.avatar %> />
      <span> <%= post.author %> </span>
    </div>

    <div class="description">
      <%= post.travelExperience %>
    </div>
    <div class="ui right floated item">
      <a href="/posts/view/<%=post.id%>">View full post</a>
    </div>
  </div>
</div>
<% }); %>
