<% postsArray.forEach(function(post) { %>
<div class="item">
  <div class="ui medium image">
    <img src="<%=post.imageURL%>" alt="" />
  </div>
  <div class="content">
    <h3 class="ui header"><%= post.location %></h3>
    <div class="ui right floated item">By: <%= post.author %></div>

    <div class="description">
      <%= post.travelExperience %>
    </div>
    <div class="ui right floated item">
      <a href="/posts/view/<%=post.id%>">View full post</a>
    </div>
  </div>
</div>
<% }); %>
