<div class="ui segment padded">
  <h1 class="ui center aligned header"><%= location %></h1>
  <div class="ui centered grid">
    <div class="row">
      <p>By: <%= author %></p>
    </div>
    <%if (authorId === userId) { %>
    <a href="/posts/edit/post/<%=id%>"><button class="ui button">
        Edit Post
      </button></a>

    <button postId="<%=id%>" id="delete-btn" class="ui red button">
      Delete Post
    </button>
  </div>
  <% } %>
  <div class="ui items">
    <div class="item">
      <div class="description">
        <%= travelExperience %>
      </div>
      <div class="ui large image">
        <img src="<%=imageURL%>" alt="Travel Image" />
      </div>
    </div>
  </div>
</div>