<div class="ui segment padded">
  <h1 class="ui center aligned header"><%= location %></h1>
  <h4 class="ui center aligned header">By: <%= author %></h4>
  <div class="ui items">
    <div class="item">
      <div class="description">
        <%= travelExperience %>
      </div>
      <div class="ui large image">
        <img src="<%=imageURL%>" alt="Travel Image" />
      </div>
    </div>
  </div>
  <%if (authorId === userId) { %>

  <button postId="<%=id%>" id="edit-btn" class="ui button">Edit Post</button>
  <button postId="<%=id%>" id="delete-btn" class="ui button">
    Delete Post
  </button>

  <% } %>
</div>
