<div class="ui cards">
  <div class="ui card" style="width: 40%">
    <a class="image">
      <img src=<%= userBio.avatar %> />
    </a>
    <div class="content">
      <a class="header"><%= userBio.username %></a>
      <div class="meta">
        <a><span>Joined: </span><%= userBio.joinDate %></a>
      </div>
    </div>
  </div>

  <div class="ui card" style="box-shadow: none; width: 50%">
    <h4 class="ui horizontal divider header">
      <i class="address card outline icon"></i>
      Personal Details
    </h4>

    <table class="ui definition table">
      <tbody>
        <tr>
          <td class="five wide column">First Name</td>
          <td><%= userBio.firstName %></td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td><%= userBio.lastName %></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><%= userBio.address %></td>
        </tr>
        <tr>
          <td>Phone Number</td>
          <td><%= userBio.phoneNumber %></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><%= userBio.email %></td>
        </tr>
        <tr>
          <td>User ID</td>
          <td><%= userBio.userID %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
