<div class="ui blue container">
  <div class="ui segment padded">
    <h1 class="ui center aligned header">My Posts</h1>
    <div class="ui divided items">
      <!-- POSTS -->

      <% postsArray.forEach(function(post) { %>
      <div class="item">
        <div class="ui medium image">
          <img src="<%=post.imageURL%>" alt="Travel image" />
        </div>
        <div class="content">
          <h3 class="ui header"><%= post.location %></h3>
          <div class="ui right floated item">
            By: <%= userBio.username %>
          </div>

          <div class="description">
            <%= post.travelExperience %>
          </div>
          <div class="ui right floated item">
            <a href="/posts/view/<%=post.id%>">View full post</a>
          </div>
        </div>
      </div>
      <% }); %>

      <!-- POSTS -->
    </div>
  </div>
</div>
