<!-- Insert the main header and navbar -->
<%- include ("partials/main-header") %> <%- include ("partials/navbar") %>
<div class="ui blue container">
  <div class="ui segment padded">
    <h1 class="ui aligned center header">Edit Post</h1>
    <!-- Form to submit a put reqeust to update the post -->
    <form
      class="ui form"
      id="edit-form"
      postId="<%=id%>"
      enctype="multipart/form-data"
      action="/posts/edit/post/<%=id%>?_method=PUT"
      method="POST"
    >
      <div class="field">
        <label>Location</label>
        <input
          type="text"
          name="location"
          placeholder="Location"
          value="<%=location%>"
          id="location"
        />
      </div>
      <div class="field">
        <label>Travel Experience</label>
        <!-- Insert the previous travel experience to be updated -->
        <textarea
          name="travelExperience"
          id="travel-experience"
          cols="30"
          rows="10"
          placeholder="Write about your travel experience"
        >
<%=travelExperience%></textarea
        >
      </div>
      <div class="field">
        <label>Upload an image</label>
        <input type="file" id="img" name="imageURL" />
      </div>
      <button class="ui teal button" type="submit">
        Post
      </button>
    </form>
  </div>
</div>
<!-- Insert the main footer -->
<%- include ("partials/main-footer") %>
